<div id="shop_cont">
  <div class="title-cont">
    <button id="close_cont"><i class="material-icons">close</i></button>
  </div>
  <div class="body-cont">
    <% if current_client.cart.present? %>
      <b>Carrinho de compras:</b>
    <% end %>
    <% @products_on_cart.each do |p| %>
    <br>
      <b><%= p.name %></b>
    <% end %>
  </div>
</div>
