/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require material_icons
 */
body {
  background: #f8f8f8;
}

#login .panel {
  margin-bottom: 20px;
  float: left;
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
}

#login .panel-title {
  background: #e1e1e1;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#login .panel-body {
  float: left;
  width: 100%;
  padding: 10px;
}

.btn-success.btn-block:hover {
  background: #3bc146;
  border-color: #3bc146;
}

.btn-success.btn-block {
  background-color: #57cb61;
  border-color: #57cb61;
}
