// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
  nav.navbar {
    #menu-toggle {
      i {
        float: left;
      }
    }
    #info-site {
      width: 100%;
      a.nav-name {
        font-size: 12px;
        font-weight: bold;
        margin: 3px 0;
      }
      a.nav-link, a.nav-name {
        float: right;
        width: auto;
        padding: 5px;
        color: #fff;
        background: darken(#F1F4F6, 25%);
        border: 1px solid darken(#F1F4F6, 25%);
        border-radius: 3px;
        transition: .3s all;
        &:hover {
          text-decoration: none;
        }
      }
      a.nav-link {
        border: 1px solid #ccc;
        margin: 0 0 0 10px;
        border-radius: 3px;
        &:hover {
          background: darken(#F1F4F6, 35%);
          border: 1px solid darken(#F1F4F6, 35%);
        }
      }
    }
  }
  #order-page {
    .order-cont {
      h1 {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px 0;
        line-height: normal;
        width: 100%;
        float: left;
        b {
          border: 1px solid darken(#ccc, 12%);
          border-radius: 3px;
          background-color: darken(#ccc, 6%);
          padding: 5px 10px;
          margin: 0;
          font-size: 18px;
          float: left;
          width: auto;
          text-decoration: underline;
        }
        small {
          float: left;
          width: auto;
          font-size: 12px;
          margin: 10px;
        }
      }
      .order-product {
        height: 300px !important;
        width: 350px !important;
        margin: 0 auto 20px auto;
        .card-title {
          float: left;
          width: auto;
        }
        img {
          margin: 10px;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid #ccc;
        }
        b {
          float: right;
          width: auto;
          padding: 2px 5px;
          border-radius: 3px;
          border: 1px solid #ccc;
          background-color: lighten(#ccc, 12%);
        }
        .card-text {
          float: left;
          width: 100%;
        }
      }
    }
  }
}
