// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
  nav.navbar {
    #menu-toggle {
      i {
        float: left;
      }
    }
    #info-site {
      width: 100%;
      a.nav-name {
        font-size: 12px;
        font-weight: bold;
        margin: 3px 0;
      }
      a.nav-link, a.nav-name {
        float: right;
        width: auto;
        padding: 5px;
        color: #fff;
        background: darken(#F1F4F6, 25%);
        border: 1px solid darken(#F1F4F6, 25%);
        border-radius: 3px;
        transition: .3s all;
        &:hover {
          text-decoration: none;
        }
      }
      a.nav-link {
        border: 1px solid #ccc;
        margin: 0 0 0 10px;
        border-radius: 3px;
        &:hover {
          background: darken(#F1F4F6, 35%);
          border: 1px solid darken(#F1F4F6, 35%);
        }
      }
    }
  }
}
